{% extends "base.html" %}

{% block sidebar %}
{% endblock %}

{% block header_ext %}
{% endblock %}

{% block content %}
{% load app_filters %}
<div class="dividingBorderAbove"></div>
<div class="rowOfBoxes">
   <!--div class="twoThirds noBorderOnLeft"-->
      <h1>Welcome to Ithir</h1>
    <div style="color:#8c8c8c">
    <p><center>This is a text-based role playing game based around an original fantasy setting in the Immortal Lands of Ithir.</center></p></div></div>
    <!-- news app commented out since there are no news in the database originally -->

    <div class="dividingBorderAbove"></div>
    <div class="fullWidth noBorderOnLeft">
      <h1>Latest News</h1>
      {% for entry in news_entries %}
         <a href="/news/show/{{entry.id}}" class="newsHeading">{{entry.topic.name}}: {{entry.title}}</a>
         <p class="newsDate">By {{entry.author.username}} on {{entry.date_posted|time}}</p>
         <p class="newsSummary">{{entry.body|truncatewords:500}}</p>
      {% endfor %}

      <div class="more"><a href="/news/archive">More News &raquo;</a></div>


<div class="rowOfBoxes dividingBorderAbove">

   <div class="half noBorderOnLeft">
      <h1>Players</h1>
      <p>
      There's currently <strong>{{num_players_connected}}</strong> connected out of a total of <strong>{{num_players_registered}}</strong> players registered. Of these, <strong>{{num_players_registered_recent}}</strong> were created this week, and <strong>{{num_players_connected_recent}}</strong> have connected within the last seven days.
      </p>
       <h1>Recently Connected</h1>
   <div style="color:#8c8c8c">
      <ul>
      {% for player in players_connected_recent %}
      <li>{{player.username}} -- <em>{{player.last_login|timesince}} ago</em></li>
      {% endfor %}
      </ul></div>
   </div>

   <!---<div class="quarter">
      <h1>Recently Connected</h1>
      <ul>
      {% for player in players_connected_recent %}
      <li>{{player.username}} -- <em>{{player.last_login|timesince}} ago</em></li>
      {% endfor %}
      </ul>
      <p class="filler"><!-- Filler para to extend left vertical line ---> <!---</p>
  </div> --->

<!---   <div class="quarter">
      <h1>Database Stats</h1>
      <ul>
      <li>{{num_players_registered}} players (+ {{num_characters}} characters)</li>
      <li>{{num_rooms}} rooms (+ {{num_exits}} exits)</li>
      <li>{{num_others}} other objects</li>

      </ul>
   </div> --->

   <div class="half">
      <h1>Telnet Address</h1>
       <div style="color:#8c8c8c">
           <p><center>ithirMUSH.org:4000</center></p></div>
       <h1>Helpful Links</h1>
       <p><center><li><a href="https://www.pinterest.com/reilena/ithir-mountain-lands/">Pinterest - Faenor</a></li>
       <li><a href="https://www.pinterest.com/reilena/ithir-ocean-lands/">Pinterest - Aeran</a></li>
       <li><a href="https://www.pinterest.com/reilena/ithir-river-lands/">Pinterest - Duindar</a></li>
       <li><a href="https://www.pinterest.com/reilena/ithir-grass-lands/">Pinterest - Lorandi</a></li>
       <li><a href="https://www.pinterest.com/reilena/ithir-desert-lands/">Pinterest - Thalerith</a></li>
       <li><a href="http://tehomcd.github.io">Tehom's Dev Blog/Donation Links</a></li></center></p>
   </div>

</div>
{% endblock %}
