/***************************************
 * TITLE: Prosimii Screen Stylesheet   *
 * URI  : prosimii/prosimii-screen.css *
 * MODIF: 2004-Apr-28 21:43 +0800      *
 ***************************************/

@import 'custom.css';


/* ##### Common Styles ##### */

body {
  font-family: "Helvetica";
  font-size: 73%;  /* Enables font size scaling in MSIE */
  margin: 0;
  padding: 0;
  background-color: #1c1c1c;
}

.backgroundimag{
  background-image: url('/static/images/IthirBanner2.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
}

html > body {
  font-size: 10pt;
}

acronym, .titleTip {
  border-bottom: 1px dotted rgb(140, 140, 140);
  cursor: help;
  margin: 0;
  padding: 0 0 0.4px 0;
}

a {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
  margin: 0;
  padding: 0 1px 2px 1px;
}

a:hover {
  color: rgb(183, 183, 183);
  text-decoration: none;
}

ol {
  margin: 1em 0 1.5em 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 1em 0 1.5em 0;
  padding: 0;
  text-align: center;
}

dl {
  margin: 1em 0 0.5em 0;
  padding: 0;
}

ul li {
  line-height: 1.5em;
  margin: 1.25ex 0 0 1.5em;
  padding: 0;
  text-align: center;
}

ol li {
  line-height: 1.5em;
  margin: 1.25ex 0 0 2em;
  padding: 0;
  text-align: center;
}

dt {
  font-weight: bold;
  margin: 0;
  padding: 0 0 1ex 0;
}

dd {
  line-height: 1.75em;
  margin: 0 0 1.5em 1.5em;
  padding: 0;
}

.doNotDisplay {
  display: none !important;
}


.smallCaps {
  font-size: 117%;
  font-variant: small-caps;
}


/* ##### Header ##### */

.superHeader {
  color: rgb(130,128,154);
  background-color: rgb(33,50,66);
  text-align: right;
  margin: 0;
  padding: 0.5ex 10px;
}

.superHeader span {
  color: rgb(195,196,210);
  background-color: transparent;
  font-weight: bold;
  text-transform: uppercase;
}

.superHeader a {
  color: rgb(195,196,210);
  background-color: transparent;
  text-decoration: none;
  margin: 0;
  padding: 0 0.25ex 0 0;
}

.superHeader a:hover {
  color: rgb(193,102,90);
  background-color: transparent;
  text-decoration: none;
}

.midHeader {
  color: white;
  background-color: transparent;
  margin: 0;
  padding: 0.26ex 10px;
  text-align: center;
}

.headerTitle {
  font-size: 300%;
  margin: 0;
  padding: 0;
}

.headerSubTitle {
  font-size: 151%;
  font-weight: normal;
  font-style: italic;
  margin: 0 0 1ex 0;
  padding: 0;
}

.headerLinks {
  text-align: right;
  margin: 0;
  padding: 0 0 2ex 0;
  position: absolute;
  right: 1.5em;
  top: 3.5em;
  text-decoration: none;
}

.headerLinks a {
  color: white;
  background-color: transparent;
  text-decoration: none;
  margin: 0;
  padding: 0 0 0.5ex 0;
  display: block;
}

.headerLinks a:hover {
  color: rgb(195,196,210);
  background-color: transparent;
  text-decoration: none;
}

.subHeader {
  color: white;
  background-color: transparent;
  margin: 0;
  padding: 0.5ex 10px;
  text-align: center;
  padding-top: 300px;
}

.subHeader a, .subHeader .highlight {
  color: white;
  background-color: transparent;
  font-size: 110%;
  font-weight: bold;
  text-decoration: underline;
  margin: 0;
  padding: 0 0.25ex 0 0;
}

.subHeader a:hover, .subHeader .highlight {
  color: rgb(32, 127, 70);
  background-color: transparent;
  text-decoration: underline;
}


/* ##### Main Copy ##### */

#main-copy {
  margin: 0;
  padding: 0.5em 10px;
  clear: left;
}

#main-copy h1 {
  color: rgb(255, 255, 255);
  background-color: transparent;
  font-family: "Palatino Linotype";
  font-size: 200%;
  margin: 5px;
  padding: 0px;
  text-align: center;
}

#main-copy h2 {
  color: rgb(255, 255, 255);
  background-color: transparent;
  font-family: "Palatino Linotype";
  font-weight: normal;
  font-size: 125%;
  margin: 0;
  padding: 20px;
  text-align: center;
}

#main-copy h3 {
  color: #004d35;
  background-color: transparent;
  font-family: "Palatino Linotype";
  font-weight: normal;
  font-size: 125%;
  margin: 0;
  padding: 20px;
  text-align: center;
}

#main-copy p {
    color: #8c8c8c;
  line-height: 1.75em;
  margin: 1em 0 1.5em 0;
  padding-left: 5%;
    text-align: left;
}

.newsHeading {
  color: rgb(140, 140, 140);
  background-color: transparent;
  font-family: "Palatino Linotype";
  font-size: 145%;
  text-decoration: none;
  margin: 0;
  padding: 1ex 0 0 0;
  display: block;
    text-align: center;
}

.newsHeading:hover {
  color: rgb(183, 183, 183);
  background-color: transparent;
  text-decoration: underline;
}

.newsDate {
  font-style: italic;
  margin: 0 !important;
  padding: 0;
}

.newsSummary {
  margin: 1.5ex 0 2.5ex 0.75ex !important;
  padding: 0;
}

.more {
  text-align: right;
  margin: 0;
  padding: 0.5em 0;
}

.more a {
  color: rgb(140, 140, 140);
  background-color: transparent;
  font-size: 92%;
  text-decoration: underline;
  margin: 0;
  padding: 0.25ex 0.75ex;
}

.more a:hover {
  color: rgb(183, 183, 183);
  text-decoration: underline;
}

.more b {
  color: rgb(140, 140, 140);
  background-color: transparent;
  font-size: 98%;
  text-decoration: none;
  margin: 0;
  padding: 0.25ex 0.75ex;
}

.container-fluid {
  text-align: center;
  padding: 0 1.9%;
  align-items: center;
  align-content: center;
  align-self: center;
  child-align: middle;
}
.rowOfBoxes {
  clear: both;
}

.quarter, .oneThird, .half, .twoThirds, .fullWidth {
  margin: 1em 0;
  float: left;
  border-left: 1px solid rgb(45, 45, 45);
}

.quarter {
  width: 25%;
  padding: 0 1.9%;
}

.oneThird {
  width: 33%;
  padding: 0 1.9%;
}

.half {
  text-align: justify;
  width: 50%;
  padding: 0 1.9%;
}

.twoThirds {
  text-align: justify;
  width: 63%;
  padding: 0 1.9%;
}

.fullWidth {
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%);
  margin: auto;
}

.filler {  /* use with an empty <p> element to add padding to the end of a text box */
  border: 1px solid #2d2d2d;
}

.noBorderOnLeft {
  border-left: none;
}

.dividingBorderAbove {
  border-top: 2px solid rgb(45, 45, 45);
}

/* More elegant alternatives to .noBorderOnLeft & .dividingBorderAbove
 * that don't require the creation of new classes - but which are not
 * supported by MSIE - are the following:
 *
 * .rowOfBoxes > div:first-child {
 *   border-left: none;
 * }
 *
 * .rowOfBoxes + .rowOfBoxes {
 *   border-top: 1px solid rgb(204,204,204);
 * }
 */


/* ##### Footer ##### */

#footer {
  color: rgb(74, 74, 74);
  background-color: #1c1c1c;
  font-size: 87%;
  text-align: center;
  line-height: 1.25em;
  margin: 2em 0 0 0;
  padding: 1ex 10px;
  clear: left;
}

#footer a {
  color: rgb(74, 74, 74);
  background-color: transparent;
  text-decoration: underline;
}

#footer a:hover {
  text-decoration: none;
}

@media (max-width: 500px) {
    .oneThird {
        width: 100%;
        border-left: none;
    }

    .quarter {
        width: 100%;
        border-left: none;
    }

    .headerTitle {
        text-align: center;
    }

    .headerSubTitle {
        text-align: right;
    }

    .headerLinks {
        position: static;
    }

  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #c0c0c0;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #c0c0c0;
    background-color: #222222;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}

#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(28, 28, 28, 1);
    border-bottom-width: 0px;
  text-align: center;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(28, 28, 28, 1);
  text-align: center;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(10, 110, 70, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 77, 53, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #004d35;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #004d35;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #004d35;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #1c1c1c;
}

.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.dropdown-menu{
  color: rgb(74, 74, 74);
  background-color: #1c1c1c;
  font-size: 100%;
  text-align: center;
  line-height: 20px;
  margin: 2em 0 0 0;
  padding: 2ex 10px;
  clear: left;}

.dropdown-item{
  list-style-type: none;
}

.dropdown-info{
    color: rgb(74, 74, 74);
  background-color: #1c1c1c;
  font-size: 100%;
  text-align: center;
  line-height: 20px;
  margin: 2em 0 0 0;
  padding: 2ex 10px;
  clear: left;
}

.table-hover thead tr:hover th, .table-hover tbody tr:hover td {
    background-color: #A9A9A9;
}

.well{
background-color: #2c2c2c;
    padding: 2ex 10px;
}