{% extends "base.html" %}

{% block header_ext %}
  <!-- check for preferred style defined in the character -->
  {% if character.db.style %}
  {% else %} <!-- use default if no preferred style defined -->
  {% endif %}
{% endblock %}

{% block content %}
{% load cloudinary %}
{% load app_filters %}
    <div class="container-fluid">
    <div class="row">

    {% if character.db.longname %}
      <h1 class="text-center">{{ character.db.longname }}</h1>
    {% else %}
      <h1 class="text-center">{{ character.key }}</h1>
    {% endif %}

    </div>
    {% if character.db.quote %}
        <div class="row"><div class="text-center"><q><em>{{ character.db.quote }}</em></q></div></div>
    {% endif %}
	<div class="row">
	  <br></br>
    {% if character.portrait %}
	<div class="col-md-7 text-center">
      {% if character.portrait.alt_text %}
        {% cloudinary character.portrait.image crop="fit" title=character.portrait.alt_text height=pheight width=pwidth %}
      {% else %}
        {% cloudinary character.portrait.image crop="fit" height=pheight width=pwidth %}
      {% endif %}
	</div>
    {% endif %}
    <div class="col-md-3 text-left">
    <p><b>Social Rank:</b> {{ character.db.social_rank }}<br><b>Concept:</b> {{ character.db.concept }}<br>
	{% if character.db.real_concept and show_hidden %}<b>Real Concept:</b> {{ character.db.real_concept}}<br>{% endif %}
    <b>Fealty:</b> 
	{% if fealty_org_id %}
	<a href="{% url 'help_topics:display_org' fealty_org_id.id %}">{{ character.db.fealty }}</a>
	{% else %}{{ character.db.fealty}}
	{% endif %}
	<br><b>Family:</b>
	{% if family_org_id %}
	<a href="{% url 'help_topics:display_org' family_org_id.id %}">{{ character.db.family }}</a>
	{% else %}{{ character.db.family}}
	{% endif %}
	<br>
    <b>Gender:</b> {{ character.db.gender }}<br><b>Age:</b> {{ character.db.age }}<br>
    <b>Patron:</b> {{ character.db.patron }}<br><b>Vocation:</b> {{character.db.vocation|capfirst }}<br>
	<b>Height:</b> {{ character.db.height}}<br><b>Hair Color:</b> {{character.db.haircolor}}<br>
	<b>Eye Color:</b> {{ character.db.eyecolor}}<br><b>Skintone:</b> {{character.db.skintone}}</p>
    {% if character.titles %}
    <b>Titles:</b> {{ character.titles }} {% endif %}
	</div>
	</div>
    {% if character.db.obituary %}
    <p><b>Obituary:</b> {{ character.db.obituary|mush_to_html }}</p>{% endif %}
    <p><b>Description:</b> {{ character.perm_desc|mush_to_html }}</p>

    <p><b>Personality:</b> {{ character.db.personality|mush_to_html }}</p>

    <p><b>Background:</b> {{ character.db.background|mush_to_html }}</p>
    {% if character.db.relationship_short %}
      <h2>Relationship Summary</h2>
      {% for type,value in character.db.relationship_short.items %}
        {% if type != 'secret' or show_hidden %}
          <br /><b>{{ type|capfirst }}:</b>
          {% for relname, reldesc in value %}
            <li>{{ relname|title }} - {{ reldesc }}</li>
          {% endfor %}
        {% endif %}
      {% empty %}
        <li>This character has no relationships yet.</li>
      {% endfor %}
    {% endif %}
    {% if show_hidden %}
    {% if character.db.secrets %}
    <h2 class="text-center">Secrets</h2>
    {% for secret in character.db.secrets %}
    <p>{{ forloop.counter}} : {{ secret|mush_to_html }}</p>
    {% endfor %}
    {% endif %}
    {% if character.db.gm_notes %}
        {% if request.user.is_staff %}
            <h2 class="text-center">GM Notes</h2>
            {{  character.db.gm_notes }}
        {% endif %}
    {% endif %}
    <style>
    td { text-align:center }
	th { text-align:center}
    </style>
    
    <table class="table table-bordered">
    <caption><h2 class="text-center">Stats</h2></caption>
      <thead>
        <tr bgcolor="#336666">
          <th width="20%">Physical</th>
          <th width="10%">Value</th>
          <th width="20%">Social</th>
          <th width="10%">Value</th>
          <th width="20%">Mental</th>
          <th width="10%">Value</th>
          <th width="20%">Special</th>
          <th width="10%">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr bgcolor="#336633">
          <td>Strength</td>
          <td>{{ character.db.strength }}</td>
          <td>Charm</td>
          <td>{{ character.db.charm }}</td>
          <td>Intellect</td>
          <td>{{ character.db.intellect }}</td>
          <td>Mana</td>
          <td>{{ character.db.mana }}</td>
        </tr>
        <tr bgcolor="#336633">
          <td>Dexterity</td>
          <td>{{ character.db.dexterity }}</td>
          <td>Command</td>
          <td>{{ character.db.command }}</td>
          <td>Perception</td>
          <td>{{ character.db.perception }}</td>
          <td>Luck</td>
          <td>{{ character.db.luck }}</td>
        </tr>
        <tr bgcolor="#336633">
          <td>Stamina</td>
          <td>{{ character.db.stamina }}</td>
          <td>Composure</td>
          <td>{{ character.db.composure }}</td>
          <td>Wits</td>
          <td>{{ character.db.wits }}</td>
          <td>Willpower</td>
          <td>{{ character.db.willpower }}</td>
        </tr>
      </tbody>
    </table>

    <h2 class="text-center">Skills</h2>
    <ul class="list-inline text-center">
      {% for skill,value in character.db.skills.items %}
        <li class="text-center"><b>{{ skill }}:</b> {{ value }}</li>
      {% empty %}
        <li>This character has no skills yet.</li>
      {% endfor %}
    </ul>
    {% endif %}
	<!-- Until these are replaced by new comment system
    <h2>Comments</h2>
    <ul>
      {% for commenter,commentlist in character.db.comments.items %}
        <li><b>{{ commenter|capfirst }}</b> wrote:</li>
        {% for entry in commentlist %}
          <blockquote>{{ entry.header }} : <q>{{ entry.message }}</q></blockquote>
        {% empty %}
          No comments.<br>
        {% endfor %}
      {% empty %}
        No comments left for {{ character.key }} yet.
      {% endfor %}
    </ul>
    {% if can_comment %}
      <form action="{% url 'character:comment' character.id %}" method="post">
      {% csrf_token %}
      <textarea name="comment" rows="4" cols="50" placeholder="Type IC Comment Here"></textarea>
      <br><input type="submit" value="Submit Comment">
      </form>
    {% endif %}
	-->
    <div class="row">
        <div class="col-sm-3 text-center">
            <h1 class="text-center"><a href="{% url 'character:gallery' character.id %}"><span class="label label-success">Gallery</span></a></h1>
            </div>
        <div class="col-sm-3 text-center">
            <h1 class="text-center"><a href="{% url 'character:character_story' character.id %}"><span class="label label-success">Past Actions</span></a></h1>
            </div>
        {% if show_hidden %}
            <div class="col-sm-3 text-center">
                <h1 class="text-center"><a href="{% url 'character:list_flashbacks' character.id %}">
                    <span class="label label-success">Flashbacks</span></a></h1></div>
            <div class="col-sm-3 text-center">
                <h1 class="text-center"><a href="{% url 'character:list_clues' character.id %}">
                    <span class="label label-success">Clues</span></a></h1></div>
        {% endif %}
    </div>
      <br></br>
    <div class="row">
        <div>
            <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#Impressions">
            <h1>First Impressions</h1></button>
            <div id="Impressions" class="collapse">
                <table class="table table-hover">
                <tr bgcolor="#336666">
                    <td>Name</td>
                    <td>Summary</td>
                </tr>
                {% if show_hidden %}
                    {% for impression in character.roster.public_impressions_of_me %}
                        <tr>
                        <td width="20%">{{ impression.writer }}</td>
                        <td width="80%">{{ impression.summary }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    {% for impression in character.roster.impressions_for_all %}
                        <tr>
                        <td width="20%">{{ impression.writer }}</td>
                        <td width="80%">{{ impression.summary }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </table>
            </div>
        </div>

    </div>
    
 </div>
  {% endblock %}
